.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.AppHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}
.SideMenu{
    height: 100%;
}
.SideMenuVertical{
    height: 100%;
}
.PageContent{
    padding-left: 12px;
}
.Side_Right{
    height: 100%;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px 15px 0px 0px; 
    width:50%;
}
.Side_Right .right{
    height: 70px;
    border-radius: 15px 15px 0px 0px; 
    background-color: rgb(79, 122, 233);
}
.Side_Right .right h1{
    margin-top: 0px;
}